# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# vscode
.vscode/

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# logs
*.log
logs/

# other
eclipse
run
build_docs/
